  {% include "hotelapp/header.html" %}
  {% load static %}
  <script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.validate.min.js'%}"></script>
  <script>
        $(document).ready(function()
	{
		$("form").validate(
		{
			rules :
			{
				username : { required : true },
				password : { required : true,
				             minlength : 8,
							 maxlength : 16
				           }

			}

		})
	})
  </script>
  <div>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Hello!</strong> {{status}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>



  <div class="container">
      <h2 class="text-center">Login</h2>

      <form action="signin" method="post">
        {% csrf_token %}

  <div class="form-group">
    <label for="utype">Type</label>
    <select class="form-control" id="utype" name="utype">
        <option selected disabled>--Select--</option>
        <option>Admin</option>
        <option>Customer</option>
    </select>
  </div>

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>

  {% include "hotelapp/footer.html" %}